* {
	font-family: Space Grotesk;
}

html,body {
	scroll-behavior: smooth; 
  margin: 0;
  padding: 0;
}


nav {
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	text-align: center;	
	background: #00030e;
	border-bottom: 1px solid white;

}

nav a {
		color: #FFFFFF !important;
		letter-spacing: 1px;
}


#navbarNav {
	text-align: center;
}

.navbar-toggler {
  border-color: white; /* Optional: makes the button border white */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


#landing {
background:	#00030e;
align-content: center;
}

.hover-text-warning:hover {
	background: linear-gradient(to right, #00f260, #0575e6, #8e2de2);
	color: #FFFFFff !important;
	border-radius: 	4px;
}

.hover-text-light:hover {
	color: #FFFFFF !important;
}

#my-picture {
	width: 100%;
	max-width: 500px;
	height: auto;
}


#title {
	font-weight: 600;
	line-height: 50px;
	background: linear-gradient(to right, #00f260, #0575e6, #8e2de2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cta {
	background: linear-gradient(to right, #00f260, #0575e6, #8e2de2);
	letter-spacing: 1.5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	color: 	#FFFFFF;
}

#cta:hover {
	background: linear-gradient(to right, #8e2de2, #0575e6,#00f260 );
	opacity: 0.9;
	color: 	#FFFFFF;
	transform: scale(1.03);
}


/*About Section*/


#about {
  background: #00030e;
}


.timeline {
  position: relative;
  max-width: 800px;
  padding-left: 32px;
  border-left: 3px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 14px;
  width: 3px;
  height: 80%;
  background: linear-gradient(to bottom,#8e2de2, #0575e6,#00f260);
  z-index: 0;`
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
  padding-left: 30px;
  z-index: 1;
}

.timeline-dot {
  position: absolute;
  top: 2px;
  left: -22px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 2;
}

.timeline-content {
  color: white;
}

.timeline-content h5 {
  font-weight: 600;
}

.timeline-content p {
  margin: 0;
  color: #FFFFFF;
}

.timeline-date {
  position: absolute  ;
  top: 0;
  right: 0;
  color: #FFFFFF;
  margin-top: -8px;
}



@media screen and (max-width: 540px) {

  #my-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}


  .timeline {
    padding-left: 16px;
  }

  .timeline::before {
    position: absolute;
    left: 8px;
    height: 65%;
  }

  .timeline-item {
    padding-left: 20px;
    margin-bottom: 24px;
  }

  .timeline-dot {
    position: absolute;
    left: -12px;
  }

  .timeline-content h5 {
    font-size: 16px;
  }

  .timeline-content p {
    font-size: 14px;
  }

  .timeline-date {
    position: static;
    display: block;
    margin-top: 4px;
    font-size: 12px;
    text-align: left;
  }
}



/*Projects Section*/

#projects {
	background-color: #00030e;
}

#projects-title {
	color: #f2f2f2;
	text-decoration: underline;
}

.card {
	background: #00030e;
	color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-title {
	background: linear-gradient(to right, #00f260, #0575e6, #8e2de2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}

.card-text {
	color: #FFFFFF;
}

.card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}



/*Skills Section*/

#skills {
	text-align: center;
	color: #FFFFFF;
	background: #00030e;
}

#skills-title {
	font-family: Space Grotesk;
	text-decoration: underline;
	color: #FFFFFF;
}


.image-box {
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}


.image-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.orange-glow {
  border: 2px solid #ff4c1e;
  box-shadow: 0 0 4px #ff4c1e, 0 0 12px #ff4c1e;
  border-radius: 8px;
}

.orange-glow:hover {
  box-shadow: 0 0 10px #ff4c1e, 0 0 20px #ff4c1e, 0 0 30px #ff4c1e;
}

.blue-glow {
  border: 2px solid #004ce8;
  box-shadow: 0 0 4px #004ce8, 0 0 12px #004ce8;
  border-radius: 8px;
}

.blue-glow:hover {
  box-shadow: 0 0 10px #004ce8, 0 0 20px #004ce8, 0 0 30px #004ce8;
}


.yellow-glow {
  border: 2px solid #f6d810;
  box-shadow: 0 0 4px #f6d810, 0 0 12px #f6d810;
  border-radius: 8px;
}

.yellow-glow:hover {
  box-shadow: 0 0 10px #f6d810, 0 0 20px #f6d810, 0 0 30px #f6d810;
}


.gray-glow {
  border: 2px solid #363636;
  box-shadow: 0 0 4px #363636, 0 0 12px #363636;
  border-radius: 8px;
}

.gray-glow:hover {
  box-shadow: 0 0 10px #363636, 0 0 20px #363636, 0 0 30px #363636;
}



.green-glow {
  border: 2px solid #52934c;
  box-shadow: 0 0 4px #52934c, 0 0 12px #52934c;
  border-radius: 8px;
}

.green-glow:hover {
  box-shadow: 0 0 10px #52934c, 0 0 20px #52934c, 0 0 30px #52934c;
}

.darkgreen-glow {
  border: 2px solid #52934c;
  box-shadow: 0 0 4px #52934c, 0 0 12px #52934c;
  border-radius: 8px;
}

.darkgreen-glow:hover {
  box-shadow: 0 0 10px #52934c, 0 0 20px #52934c, 0 0 30px #52934c;
}


.lightgreen-glow {
  border: 2px solid #41b783;
  box-shadow: 0 0 4px #41b783, 0 0 12px #41b783;
  border-radius: 8px;
}

.lightgreen-glow:hover {
  box-shadow: 0 0 10px #41b783, 0 0 20px #41b783, 0 0 30px #41b783;
}



.purple-glow {
  border: 2px solid #8711fb;
  box-shadow: 0 0 4px #8711fb, 0 0 12px #8711fb;
  border-radius: 8px;
}

.purple-glow:hover {
  box-shadow: 0 0 10px #8711fb, 0 0 20px #8711fb, 0 0 30px #8711fb;
}


.caption {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}



/*Contact Section*/

#contact {
	background: #00030e;
}


#contact-title {
	text-decoration: underline;
	color: #FFFFFF;
}

#contact-caption {
  background: linear-gradient(to right, #00f260, #0575e6, #8e2de2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact-icons:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}




/*Footer Section*/

footer {
	font-family: Space Grotesk;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	background-color: #00030e;
	border-top: 1px solid white;
}

